@import "../../../css/mixin";

.cart {
    @include flex(row);
    align-items: center;
    width: 1200px;
    padding: 0px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 60%, rgba(88,88,88,1) 100%);
}

.cart-information {
    @include flex(column);
    align-items: center;
    height: 400px;
    width: 500px;
    margin-left: 50px;
    margin-bottom: -24px;
}
.cart-title {
    font-size: 40px;
    font-weight: 700;
}
.cart-price, .cart-count {
    @include flex(row);
    width: 250px;
    span {
        color: #AD1100;
        font-weight: 600;
    }
}
.cart-price {
    font-size: 23px;
}
.cart-count {
    font-size: 23px;    
}

.cart-image {
    position: relative;
    top: 0px;
    right: 0px;
    height: 525px;
    img {
        width: 450px;
    }
}