.product-list {
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.5) ;
    .product {
        .title {
            font-weight: 700;
            font-size: 23px;
            margin: 20px;
        }
        .price {
            margin: 10px;
        }
    }
}

.add-to-cart {
    margin-right: 10px;
    &:hover {
        background-color: black;
        color: white;
        border: 1px solid black;
    }
}
.look-to-product {
    margin-left: 10px;
    &::after {
        display: none;
    }
    &:hover {
        border: 0px;
        margin-left: 11px;
        margin-bottom: 6px;
        border-bottom: 1px solid black;
        &::after {
            display: block;
            content: "...";
            margin-left: 2px;
            margin-bottom: -1px;
            
        }
    }
}
.add-to-cart, .look-to-product {
    margin-bottom: 5px;
    padding: 5px 10px 3px;
    color: black;
    border: 1px black solid;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}