.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    .product-info {
        width: 560px;
        border-radius: 20px;
        padding: 0px 25px;
    }
}

.title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 50px 0px 100px;
}    
.price, .color {
    font-size: 25px;
}
.price {
    margin-bottom: 20px;
    width: 220px;
    span {
        &:first-child {
            font-weight: 500;
        }
        &:last-child {
            font-weight: 700;
        }
    }
}
.color {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 100px;
    text-align: right;
    span {
        font-style: italic;
    }
    &::before {
        display: block;
        content: "";
        background-image: url(../../assets/palette.png);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        height: 50px;
        width: 50px;
    }
}

.product-info-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    .product-quantity {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        .quantity-number {
            margin: 0px 25px;
            height: 56px;
            div {
                border-radius: 20px;
            }
            input {
                text-align: center;
                color: black;
                font-size: 25px;
                font-weight: 500;
                padding: 10px 0px;
            }
        }
        .bttn-minus, .bttn-plus {
            border-radius: 50%;
            height: 64px;
            font-size: 25px;
            text-align: center;
            font-weight: 700;
            color: black;
            background-color: white;
            border: 1px solid #a2a2a2;
            &:hover {
                color: white;
                border: 1px solid black;
                background-color: black;
                cursor: pointer;
            }
        }
        .bttn-minus {
            line-height: 25px;
        }
        .bttn-plus {
            line-height: 26px;
        }
    }
}

.add-to-cart {
    height: 50px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    &:hover {
        border: 1px solid black;
        background-color: black;
        color: white;
    }
}

.product-image {
    img{
        width: 550px;
        height: auto;
        border-radius: 18px;
    }
}