.mySwiper {align-items: center;
    .swiper-wrapper {
        display: flex;
        justify-content: center;
        margin-left: -125px;
        width: 1000px;
    }
    img {
        width: 400px;
    }
}

